a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Open Sans';
    font-weight: 400;
    margin: 0;
    color: #E0E0CE;
}

.navigation {
    margin: 0;
    display: flex;
    width: 100%;

    &__pages {
        background-color: #7B0D1E;
        display: flex;
        width: 100%;
        height: 4rem;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }

    &__pages-link {
        cursor: pointer;
        font-size: 2rem;
        text-decoration: none;
        list-style: none;
        color: #E0E0CE;
        text-transform: uppercase;
        font-weight: 400;
        padding: 1rem;

        &--logo {
            color: #E0E0CE;
            font-weight: 700;
        }
    }
}

ul {
    padding: 0;
    margin: 0;
}

.hero {
    text-align: center;
    height: 35rem;
    display: flex;
    background-color: #E8213F;
    justify-content: center;
    flex-direction: column;
    background-image: url(../assets/hero-image.png);

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        color: #E0E0CE;
        font-size: 4rem;
    }

    &__subtitle {
        color: #E0E0CE;
        font-size: 2rem;
        text-transform: uppercase;
        margin: 0;
    }

    &__button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15rem;
        height: 5rem;
        text-transform: uppercase;
        background-color: #FE5F00;
        border-radius: 5px;
        border: none;
        font-size: 1.5rem;
        color: #3D1308;
        box-shadow: 7px 7px 5px #7B0D1E;
    }

    &__button:hover {
        color: #E0E0CE;
    }
}

.journeys {
    display: flex;
    background-color: #3D1308;

    &__card {
        background-color: #3D1308;
        padding: 1rem;
        margin: 1rem;
        width: 50%;
        height: 30rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 5px;
        background-image: url(../assets/mars-date.jpeg);
    }

    &__title {
        color: #E8213F;
        background-color: #E0E0CE;
        border-radius: 10px;
        padding: 1rem;
        display: flex;
        font-size: 3rem;
        opacity: .90;
    }

    &__description {
        color: #7B0D1E;
        border-radius: 7px;
        display: flex;
        padding: .5rem;
        font-size: 1.5rem;
        width: 80%;
        justify-content: center;
        text-align: center;
        background-color: #E0E0CE;
        opacity: .90;
    }

    &__button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        width: 15rem;
        height: 3rem;
        text-transform: uppercase;
        background-color: #FE5F00;
        border-radius: 5px;
        border: none;
        font-size: 1rem;
        color: #3D1308;
        box-shadow: 7px 7px 5px #7B0D1E;
    }

    &__button:hover {
        color: #E0E0CE;
    }
}